apiVersion: apps/v1
kind: Deployment
metadata:
  name: counter-app-green
  namespace: ns-dev
  labels:
    app: counter-app-green
    version: v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: counter-app
      version: v2
  template:
    metadata:
      labels:
        app: counter-app
        version: v2
    spec:
      containers:
        - name: counterapp
          image: counterapp:2.0.0
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              valueFrom: 
                configMapKeyRef: 
                  name: counterapp-config
                  key: SPRING_DATASOURCE_URL
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: password